# Project exclude paths
/.gradle/
/Problems/Complex numbers (1)/out/
/Problems/Complex numbers (1)/out/production/classes/
/Problems/Converting and multiplying/out/
/Problems/Converting and multiplying/out/production/classes/
/Problems/Get the game mode/out/
/Problems/Get the game mode/out/production/classes/
/Simple Banking System/task/build/
/Simple Banking System/task/out/
/Simple Banking System/task/out/production/classes/